run = "python app.py"

# The primary language of the repl. There can be others, though!
language = "python3"
# A list of globs that specify which files and directories should
# be hidden in the workspace.
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

# Specifies which nix channel to use when building the environment.





# Enable unit tests. This is only supported for a few languages.
[unitTest]
language = "python3"

# Add a debugger!


  # How to start the debugger.
  

    # How to communicate with the debugger.
    
    # How to tell the debugger to start a debugging session.
  

      

    # How to tell the debugger to start the debuggee application.
    
    
# Configures the packager.





  # Enable guessing what packages are needed from the code.


# These are the files that need to be preserved when this 
# language template is used as the base language template
# for Python repos imported from GitHub
[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "venv"]

[languages]

[languages.python3]
pattern = "**/*.py"





